<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ProfitPredictor API (50 Startups)</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Profit Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	Enter R&D Spend: <input type="text" name="rdSpend" placeholder="Enter R&D Spend: " required="required" /><br>
        Enter Administration Spend: <input type="text" name="admSpend" placeholder="Enter Administration Spend: " required="required" /><br>
		Enter Marketing Spend: <input type="text" name="markSpend" placeholder="Enter Marketing Spend: " required="required" /><br>
        <label for="state">Choose State:</label>
        <select id="state" name="state">
            <option value="California">California</option>
            <option value="Florida">Florida</option>
            <option value="New York">New York</option>
        </select>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Profit</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
